ul {
  list-style-type: none;
}

h1 {
  color: #ffff;
  font-family: Google Sans, Roboto, arial, sans-serif;
  font-size: 200px;
  text-align: right;
  display: inline-block;
  vertical-align: top;
  width: 95%;
}

a:link {
  text-decoration: none;
}

.background {
  background-color: #ececec;
}

.button {
  background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}

.weather-app-wrapper {
  max-width: 1080px;
  margin: 25px auto;
}

.weather-app {
  background: linear-gradient(
    to top,
    rgb(12, 52, 131) 0%,
    rgb(162, 182, 223) 100%,
    rgb(107, 140, 206) 100%,
    rgb(162, 182, 223) 100%
  );
  border: 2px solid #2a5298;
  padding: 15px;
  border-radius: 6px;
}

.contaner-two {
  background: linear-gradient(
    to top,
    rgb(12, 52, 131) 0%,
    rgb(162, 182, 223) 100%,
    rgb(107, 140, 206) 100%,
    rgb(162, 182, 223) 100%
  );
  border: 2px solid #2a5298;
  padding: 0 5px 23px 5px;
  margin: 8px auto;
  margin-top: 25px;
  border-radius: 6px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-icon {
  display: inline-block;
  height: 100px;
  margin-top: -24px;
  margin-right: -20%;
  margin-left: -8px;
  vertical-align: top;
  width: 100px;
}

.current-temp {
  color: #ffff;
  font-family: Google Sans, Roboto, arial, sans-serif;
  display: inline-block;
  font-size: 44px;
  line-height: 48px;
  vertical-align: top;
  margin-left: 100px;
}

.units {
  color: #ffff;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: top;
}

.pre-hum-wind {
  color: #ffff;
  opacity: 0.6;
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  margin-left: -12px;
}

.p-w {
  display: inline;
}

.city-date {
  color: #ffff;
  opacity: 0.6;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
  width: 95%;
  text-align: right;
}

.cities-name {
  color: #ffff;
  font-size: 28px;
  line-height: 26px;
  margin-top: 3px;
  font-family: Google Sans, Roboto, arial, sans-serif;
}

.weather-forcast {
  margin-top: 20px;
  text-align: center;
}

.weather-forcast-date {
  color: #ffff;
  font-size: 16px;
  opacity: 0.9;
}
.weather-forcast-temperatures-min {
  opacity: 0.6;
  color: #ffff;
}
.weather-forcast-temperatures {
  font-size: 13px;
  color: #ffff;
}

.open-source {
  position: relative;
  margin: 15px 28%;
  color: #668ba4;
}
