a:link {
  color: #f7f6f2;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1 {
  color: #f7f6f2;
  font-family: Google Sans, Roboto, arial, sans-serif;
  font-size: 200px;
  text-align: right;
  display: inline-block;
  vertical-align: top;
  width: 95%;
}
.background {
  background-color: #1e3163;
}

.weather-app {
  background-color: #4b6587;
  border: 2px solid #3d56b2;
  padding: 15px;
  margin: 35px auto;
  border-radius: 10px;
  max-width: 900px;
}

.weather-icon {
  display: inline-block;
  height: 100px;
  margin-top: -24px;
  margin-right: -20%;
  vertical-align: top;
  width: 100px;
}
.current-temp {
  color: #f7f6f2;
  font-family: Google Sans, Roboto, arial, sans-serif;
  display: inline-block;
  font-size: 44px;
  line-height: 48px;
  vertical-align: top;
  margin-left: 25px;
}

.units {
  color: #f7f6f2;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: top;
}

.pre-hum-wind {
  color: #f0e5cf;
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  padding-top: 4px;
  margin-left: -75px;
}

.city-date {
  color: #f0e5cf;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
  width: 95%;
  text-align: right;
}

.cities-name {
  color: #f7f6f2;
  font-size: 22px;
  line-height: 26px;
  font-family: Google Sans, Roboto, arial, sans-serif;
}

.clearfix .active {
  color: #f0e5cf;
  cursor: default;
}

.clearfix .active:hover {
  text-decoration: none;
}

.open-source {
  position: absolute;
  margin: 30% 20%;
  color: #f7f6f2;
}
