.weather-teperature .active {
  color: #f7f6f2;
}

.weather-temperature .active:hover {
  text-decoration: none;
  color: #1e3163;
}

ul {
  list-style-type: none;
}

h1 {
  color: #f7f6f2;
  font-family: Google Sans, Roboto, arial, sans-serif;
  font-size: 200px;
  text-align: right;
  display: inline-block;
  vertical-align: top;
  width: 95%;
}
.background {
  background-color: #1e3163;
}

.weather-app-wrapper {
  max-width: 900px;
  margin: 25px auto;
}

.weather-app {
  background-color: #4b6587;
  border: 2px solid #3d56b2;
  padding: 15px;
  border-radius: 6px;
}

.contaner-two {
  background-color: #4b6587;
  border: 2px solid #3d56b2;
  padding: 0 5px 23px 5px;
  margin: 8px auto;
  border-radius: 6px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-icon {
  display: inline-block;
  height: 100px;
  margin-top: -24px;
  margin-right: -20%;
  vertical-align: top;
  width: 100px;
}

.current-temp {
  color: #f7f6f2;
  font-family: Google Sans, Roboto, arial, sans-serif;
  display: inline-block;
  font-size: 44px;
  line-height: 48px;
  vertical-align: top;
  margin-left: 25px;
}

.units {
  color: #f7f6f2;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: top;
}

.pre-hum-wind {
  color: rgb(178, 187, 194);
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  padding-top: 4px;
  margin-left: -75px;
}

.city-date {
  color: rgb(178, 187, 194);
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
  width: 95%;
  text-align: right;
}

.cities-name {
  color: #f7f6f2;
  font-size: 22px;
  line-height: 26px;
  font-family: Google Sans, Roboto, arial, sans-serif;
}

.weather-forcast {
  margin-top: 20px;
  text-align: center;
}

.weather-forcast-date {
  color: rgb(178, 187, 194);
  font-size: 16px;
  opacity: 0.6;
}
.weather-forcast-temperatures-min {
  opacity: 0.6;
  color: rgb(178, 187, 194);
}
.weather-forcast-temperatures {
  font-size: 13px;
  color: #f7f6f2;
}

.open-source {
  position: relative;
  margin: 15px 33%;
  color: #f7f6f2;
}
